PyBank-Homework


![Revenue](Images/revenue-per-lead.jpg)

In this activity, you are tasked with creating a Python script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: [budget_data.csv](PyBank/Resources/budget_data.csv). This dataset is composed of two columns, Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting, so the records are simple.)

Your task is to create a Python script that analyzes the records to calculate each of the following:

* The total number of months included in the dataset.

* The net total amount of Profit/Losses over the entire period.

* The average of the changes in Profit/Losses over the entire period.

* The greatest increase in profits (date and amount) over the entire period.

* The greatest decrease in losses (date and amount) over the entire period.

Your resulting analysis should look similar to the following:

  ```text
  Financial Analysis
  ----------------------------
  Total Months: 86
  Total: $38382578
  Average  Change: $-2315.12
  Greatest Increase in Profits: Feb-2012 ($1926159)
  Greatest Decrease in Profits: Sep-2013 ($-2196167)
  ```

Your final script should print the analysis to the terminal and export a text file with the results.

In [42]:
import os
import csv
import pandas as pd
import numpy as np
budget_data = pd.read_csv("C:/Users/banaz/UNC-CHACC-FIN-PT-03-2020-U-C/02-Homework/02-Python_1/budget_data.csv")

In [43]:
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [72]:
#The total number of months included in the dataset
total_months = len(budget_data)
print(f"Total Months: {str(total_months)}")

Total Months: 86

In [73]:
#The net total amount of Profit/Losses over the entire period.
total_amount = sum(budget_data["Profit/Losses"])
print(f"Total Amount: {str(total_amount)}")

Total Amount: 38382578

In [74]:
#The average of the changes in Profit/Losses over the entire period.
average_change = round(total_amount / total_months, 2)
print(f"Average Change: {str(average_change)}")

Average Change: 446309.05

In [80]:
#The greatest increase in profits (date and amount) over the entire period.
greatest_increase = budget_data.max()
print(f"Greatest Increase: {str(greatest_increase)}")

Greatest Increase: Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [81]:
#The greatest decrease in losses (date and amount) over the entire period.
greatest_decrease = budget_data.min()
print(f"Greatest decrease: {str(greatest_decrease)}")

Greatest decrease: Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [86]:
print("Financial Analysis")
print("---------------------")
print(f"Total Months: {str(total_months)}")
print(f"Total Amount: {str(total_amount)}")
print(f"Average Change: {str(average_change)}")
print(f"Greatest Increase: {str(greatest_increase)}")
print(f"Greatest decrease: {str(greatest_decrease)}")

Financial Analysis
---------------------
Total Months: 86
Total Amount: 38382578
Average Change: 446309.05
Greatest Increase: Date             Sep-2016
Profit/Losses     1170593
dtype: object
Greatest decrease: Date             Apr-2010
Profit/Losses    -1196225
dtype: object